.otp-parent-container {
  max-width: 70vw;
  margin: 0 auto;
  padding: 15px;
  .input-otp-container {
    margin: 0 auto;
    border: 1px solid #d6d6d6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    .input-customize{
        width: 3rem !important;
        height: 3rem;
        margin: 0 1rem;
        font-size: 2rem;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        outline: none;
    }
    .title{
        font-size: 20px;
        font-weight: 500;
    }
    .action {
      button {
        height: 28px;
        margin: 0 5px;
      }
    }
  }
  .generate-otp-container{
      text-align: center;
      margin: 20px 0;
      button{
          height: 28px;
      }
      .title{
          padding-top: 15px;
          font-size: 18px;
          font-weight: 600;
      }
  }
}
